.click{
    display: inline-block;
    padding: .9rem 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: $primary;
    font-size: 1.15rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    // border: 1.5px solid $primary;
    transition: all .4s;

    &:hover{
        color: $primary;
        background: #fff;
        box-shadow:  0 0 .4rem rgba(0, 0, 0, 0.2);
    }
}

.center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.page{
    @extend .center;
    max-width: 1300px;
    padding: 5rem 1rem 4rem;
    overflow-x: hidden;

    .heading{
        text-align: center;
        padding: 1.5rem 0 3rem;
        font-size: 1.8rem;
        color: $secondary;

        span{
            font-size: 1.3rem;
            color: $primary;
        }
    }

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider{
    width: 100%;
    height: 100vh;
    background:#fff;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 7rem;
    left: 100%;
    transition: all .5s ease-in-out;

    ul{
        display: flex;
        flex-direction: column;

        a{
            color: grey;
            margin: 1rem 0;
            text-align: center;
            text-decoration: none;
            transition: all .4s;
            &:hover{
                color: $primary;
            }
        }
    }

    &.active{
        display: flex;
        left: 0;
    }
}